# Logs
*.log
otclientv8.log

# Tibia assets / local things
data/things/
*.dat
*.spr

# Build / binaries
build/
bin/
dist/
Release/
Debug/

# Compilados
*.exe
*.dll
*.obj
*.lib
*.pdb
*.ilk

# Editor
.vscode/
.vs/

# Sistema
.DS_Store
Thumbs.db