# Logs
*.log
otclientv8.log

# Things / Tibia assets
data/things/
*.dat
*.spr

# Build / binaries
build/
bin/
dist/
Release/
Debug/

# Executáveis e libs
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj

# Editor
.vscode/
.vs/

# Sistema
.DS_Store
Thumbs.db